<div class="text-center recipe-container">
  
  <h2 id="recipe_name">{{recipe_name}}</h2>
  <div class="description">
    <p>{{{description}}}</p>
  </div>
  <p>
    <span for="img" aria-label="money">🍽</span>
    <span class="totalTime">{{totalTime}}</span>
    minutes of cooking time
  </p>

  <h3>Ingredients</h3>
  {{!-- Replace code with for each loop later --}}
    <ul>
      <li>  <p>{{ingredients}}</p>  </li>
    </ul>
  <h3>Directions:</h3>
    {{!-- Replace code with for each loop later --}}
    <div class="steps-container">
      <b>Step 1</b>
      <p>{{steps}}</p>  
    </div>

  <p>Created by {{user.name}}</p>
</div>
