<section class="container container-fluid mt-5">
  <section class="text-center recipe-container">
    <h2 id="recipe_name">{{recipe_name}}</h2>
    <div class="recipe-content">
      <div class="description">
        <p>{{{description}}}</p>
      </div>
      <p>
        <span for="img" aria-label="money">🍽</span>
        <span class="totalTime">{{totalTime}}</span>
        minutes of cooking time
      </p>
    </div>
    <div class="recipe-content">
      <img src={{image_url}}, class="image", alt={{{recipe_name}}}>
    </div>
    
    <div class="recipe-content">
      <h3>Ingredients</h3>
      {{!-- Replace code with for each loop later --}}
      <ul>
        <li>  <p>{{ingredients}}</p>  </li>
      </ul>
    </div>

    <div class="recipe-content">
      <h3>Directions</h3>
        {{!-- Replace code with for each loop later --}}
        <div class="steps-container">
          <p>{{steps}}</p>  
        </div>
    </div>

    <p>Created by {{user.name}}</p>
  </section>
</section>
